<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.compose_layout_practice_140621">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compose_layout_practice_140621">
        <activity
            android:name=".BottomActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bottomnavigationbar.Bottom"
            android:exported="true"
            android:label="@string/title_activity_bottom"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bottomnavigationbar.Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar" />
        <activity
            android:name=".ExpandedCommentsLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_expanded_comments_layout"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeComposeDrawerLayout"
            android:exported="true"
            android:label="@string/title_activity_home_compose_drawer_layout"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerHomeActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer_home"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoviesListByCategories"
            android:exported="true"
            android:label="@string/title_activity_movies_list_by_categories"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StateWiseHotelList"
            android:exported="true"
            android:label="@string/title_activity_state_wise_hotel_list"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopDestinationsListActivity"
            android:exported="true"
            android:label="@string/title_activity_top_destinations_list"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DescriptionActivity"
            android:exported="true"
            android:label="@string/title_activity_description"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Compose_layout_practice_140621.NoActionBar" />
    </application>

</manifest>